/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Typography
 */

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

.sidebar .nav-item.user{
    position: relative;
}

.sidebar .nav-item.user .nav-link{
    padding-left: 1.5em;
    padding-right: 2.2em;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.container-message{
    width: 100%;
    height: calc(100vh - 113px);
    overflow-y: scroll;
}

.container-message ul{
    list-style: none;
    margin: 0;
    padding: 0 15px 15px 0;
}

.message{
    position: absolute;
    left: 0;
    bottom: -46px;
    right: 0;
    padding: 6px 8px;
    background-color: #ecfdff;
}

.message input{
    border: none;
    padding: 5px;
    width: 94%;
    outline: -webkit-focus-ring-color auto 5px;
}

.sender{
    background-color: #95ff9a;
    padding: 4px 10px;
    border-radius: 14px 14px;
    display: table;
    position: relative;
    margin-left: 15px;
}

.tri-right.left-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -11px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 14px solid;
    border-color: #95ff9a transparent transparent transparent;
}

.sender > span, .self > span{
    font-weight: bold;
}

.sender > div, .self > div{
    padding: 0px 7px 5px 0px;
}

.send{
    background: none;
    border: none;
    padding: 5px 18px;
    color: #607D8B;
}

.nav-item.user:not(.broadcast):after{
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 16px;
    left: 6px;
    background-color: #0f0;
}
.nav-item.user.offline:after {
    background-color: #e0e0e0;
}

.nav-link .unread{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fd7070;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    right: 6px;
    top: 8px;
}

.self{
    background-color: #76eefd;
    float: right;
    padding: 4px 10px;
    border-radius: 14px 14px;
    display: table;
    position: relative;
    margin-right: 15px;
}

.tri-right.right-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -13px;
    top: 0px;
    bottom: auto;
    border: 14px solid;
    border-color: #76eefd transparent transparent transparent;
}

.msg-container:first-child{
    margin-top: 0;
}

.msg-container{
    display: block;
    margin-top: 10px;
}